{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:flowtype/recommended", "prettier/flowtype"],
  "plugins": ["flowtype", "flowtype-errors"],
  "env": {
    "jest": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error",
    "no-underscore-dangle": "off",
    "no-return-await": "off",
    "camelcase": "warn"
  }
}
